@import url("./../node_modules/@material-design-icons/font/index.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
  html
{
 font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

  header {
    background: #585757;
    padding: 25px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 700;
    }
    
    main{
      display: flex;
      justify-content: space-between;
      align-items: start;
      height: 100vh;
    }
    
    aside{
      background: #fff;
      color: #ffffff;
      padding: 10px;
      width: 300px;
      height: 100vh;
      
    }

    aside nav{
      background: #fbf9f9;
      color: #000;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      cursor: pointer;
      background:(linear, left top, right top, color-stop(-12.74%, rgba(110, 239, 255, .5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
      background: linear-gradient(90deg, rgba(110, 239, 255, .5) -12.74%, rgba(10, 10, 10, 0.271) 56.76%);
      border: 2px solid #acf7ff;
      min-height: 60px;         /* encabezado*/
      min-width: 166px;
 
    }
    
    aside nav ul{
      list-style : none;
      font-weight: 600;
    
    }
    
    #menu_principal li{
      padding: 15px;
      border-bottom: 4px solid #ffffff;
      
    }
    #menu_principal a {
      text-decoration: none;
      color: #000;
      display: flex;
      justify-content: flex-start;
      align-items: center;

    }
    section#contenido{
      background: #fff;
       color: #000000;
      padding: 10px;
      width: calc(100% - 300px);
      height: 100vh;
    }

    .header-section-create{
      flex-grow: 1;
      min-height: 60px;         /* encabezado*/
      min-width: 166px;
      display: flex;
     align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      cursor: pointer;
      background:(linear, left top, right top, color-stop(-12.74%, rgba(110, 239, 255, .5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
      background: linear-gradient(90deg, rgba(110, 239, 255, .5) -12.74%, rgba(10, 10, 10, 0.271) 56.76%);
      border: 2px solid #acf7ff;
      color: #000;
      font-size: 20px;
      font-weight: 700;
    }

    button {          /*boton del encabezado*/
      font-size: 17px;
      padding: 0.5em 2em;
      border: transparent;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
      background: rgb(69, 77, 85);
      color: white;
      border-radius: 4px;
     }
     
     button:hover {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgb(121, 160, 169) 0%, rgba(0,212,255,1) 100%);
     }
     
     button:active {
      transform: translate(0em, 0.2em);
     }

    #tableButtons{      /*bonones de las tablas*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
    }
    #tableButtons button {
      background: #cac7c7;
      color: #000;
      padding: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

.btn:active {
  transform: translateY(-3px); /*el buscador de la pagina principal*/
 }

 .group{
  margin-left: 20px; 
   display: flex;              /* el buscador*/
   line-height: 28px;
   align-items: center;
   position: relative;
   max-width: 190px;

  }
  
  .input {
   width: 100%;
   height: 40px;           /*estructura del la barra de buscador*/
   line-height: 28px;
   padding: 0 1rem;
   padding-left: 2.5rem;
   border: 2px solid transparent;
   border-radius: 8px;
   outline: none;
   background-color: #9b9b9d;
   color: #0d0c22;
   transition: .3s ease;

  }
  
  .input::placeholder {
   color: #e0e0e8;
  }
  
  .input:focus, input:hover {
   outline: none;
   border-color: rgba(234,76,137,0.4);
   background-color: #fff;
   box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  }
  
  .icon {
   position: absolute; /*icono del buscador*/
   left: 1rem;
   fill: #e1e1e8;
   width: 1rem;
   height: 1rem;
  }

    
.container1{      /*estructura del login iniciar sesion*/
  width: 500px;
  margin: auto;
  margin-top: 80px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 25px rgb(20, 19, 19);

}

h2 {
  text-align: center;
  color: #333;
}

label {
  color: #1a1515;
  display: block;   /*color de letra*/
  margin-top: 15px;
}

input[type="text"],
input[type="email"],             /*borde, posision de las caja de textos y el color*/
input[type="password"] {
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  
}

.container2{
  background: #585757;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}


